In [1]:
def person(name,age):
    print(name)
    print(age)

person('nit',22)

nit
22

In [2]:
def person(name,age):
    print(name)
    print(age)
person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [3]:
def person(name,age):
    print(name)
    print(age)
person(22)

TypeError: person() missing 1 required positional argument: 'age'

In [4]:
def person(name,age):
    print(name)
    print(age)
person('nit',32,22,24,54)

TypeError: person() takes 2 positional arguments but 5 were given

In [6]:
def person(name,age):
    print(name)
    print(age)
person(22,'nit')

22
nit

In [7]:
def person(name,age):
    print(name)
    print(age-1)
person(22,'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [8]:
def person(name,age):
    print(name)
    print(age-1)
person('nit',22)

nit
21

In [9]:
def person(name,age):
    print(name)
    print(age-1)
person(age= 22, name = 'nit')

nit
21

In [10]:
def person(name, age, new_age ):
    print(name)
    print(age-1)

person(age = 22, name = 'nit')

TypeError: person() missing 1 required positional argument: 'new_age'

In [11]:
def person(name, age, new_age ):
    print(name)
    print(age-1)
    print(new_age)

person(age = 22, name = 'nit',  new_age=23)

nit
21
23

default argument

In [12]:
def person(name, age=18):
    print(name)
    print(age)
person('nit')

nit
18

In [13]:
def person(name, age=18):
    print(name)
    print(age)
person('nit',33)

nit
33

variable length argument

In [14]:
def person(name, age):
    print(name)
    print(age)

person('nit', 40, 50, 60, 70, 80 )

TypeError: person() takes 2 positional arguments but 6 were given

In [15]:
def sum(a, b):
    c = a+b
    print(c)
    
sum(5,6,7,8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [16]:
def sum(a, *b):
    c = a+b
    print(c)
sum(5,6,7,8)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [19]:
def sum(a,*b):
    print(type(a))
    print(type(b))
sum(4,5,6,7,8)

<class 'int'>
<class 'tuple'>

In [20]:
def sum(a, *b):
    c = a
    for i in b:
        c = c + i
    print(c)
sum(4,5,6,7,8)

30

In [21]:
def sum(a, *b):
    c = a
    for i in b:
        c = c + i
    print(c)
sum(30,40,50,33)

153

In [22]:
def sum(a, *b):
    c = a
    for i in b:
        c = c + i
    print(c)
sum(22,33,44,55)

154

kwargs

In [25]:
def person():
    person('DARYL', 44, 'RICK', 45)

In [26]:
def person(name, *data):
    print(name)
    print(data)
person('DARYL', 44, 'RICK', 45)

DARYL
(44, 'RICK', 45)

In [27]:
def person(name,*data):
    print('name')
    print(data)

person('DARYL', age = 44, home_place ='commonwealth', mob =987767)

TypeError: person() got an unexpected keyword argument 'age'

In [28]:
def person(name, **data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767)

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767}

In [29]:
def person(name, **data):
    print('name')
    print(data)

person('DARYL', age = 44, home_place ='commomwealth', mob =987767, slary= 40000, married = 'no')

name
{'age': 44, 'home_place': 'commomwealth', 'mob': 987767, 'slary': 40000, 'married': 'no'}

In [30]:
def person(name, **data):
    print(name)
    print(data)

person('DARYL', age = 44, home_place ='commomwealth', mob =987767, slary= 40000, married = 'no')

DARYL
{'age': 44, 'home_place': 'commomwealth', 'mob': 987767, 'slary': 40000, 'married': 'no'}

global variable and local variable

In [31]:
a = 10 #global variable
def something():
    b = 15 #local variable

In [32]:
a = 10 #global variable
def something():
    b = 15
    print('in function',b)
    print('out function',a)

In [33]:
a = 10 #global variable
def something():
    b = 15
    print('in function',b)
print('out function',a)

out function 10

In [34]:
a = 10
def something():
    a = 15
print('in function',a)
print('out function',a)

in function 10
out function 10

In [36]:
a = 10
def something():
    b = 15
    print('in function',b)
something()
print('out function',a)

in function 15
out function 10

In [37]:
a = 10  

def something():
    #if we remove this variable then can default it consider as global variable
    print('in function',a)
    
something()
print('out function',a)

in function 10
out function 10

In [38]:
a = 10  
def something():
    global a 
    b = 15 # 15 is converted to local when user assigned global a 
    print('in function',b)
    print('gloabl variable', a)
    
something()

print('out function',a)

in function 15
gloabl variable 10
out function 10

In [39]:
a = 20
def something():
    global a
    a = 15
    print('in function', a)
    a = 15
something()
print('out function', a)

in function 15
out function 15

In [40]:
x = 10 

def update_x():
    global x 
    x += 5    

update_x()
print(x)

15